<section class="price-section section-b-space ratio_square">
    <div class="container-fluid">
        <div class="title-2">
            <h2>cheap... <span>airline tickets</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#"><img src="../assets/images/flights/destination/8.jpg" alt=""
                                class=" img-fluid blur-up lazyload bg-img"></a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content ">
                        <div class="price-title">
                            <a href="#">
                                <h3>london</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>paris</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>rome</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>berlin</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#"><img src="../assets/images/flights/destination/9.jpg" alt=""
                                class=" img-fluid blur-up lazyload bg-img"></a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content ">
                        <div class="price-title">
                            <a href="#">
                                <h3>budva</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>atlanta</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>miami</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>ottawa</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#"><img src="../assets/images/flights/destination/10.jpg" alt=""
                                class="img-fluid blur-up lazyload bg-img"></a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content">
                        <div class="price-title">
                            <a href="#">
                                <h3>venice</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>vienna</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>madrid</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>dallas</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="price-box ">
                    <div class="price-img">
                        <a href="#"><img src="../assets/images/flights/destination/9.jpg" alt=""
                                class=" img-fluid blur-up lazyload bg-img"></a>
                        <span class="label">new</span>
                    </div>
                    <div class="price-content ">
                        <div class="price-title">
                            <a href="#">
                                <h3>budva</h3>
                            </a>
                            <div class="like-cls">
                                <i class="fas fa-heart"><span class="effect"></span></i>
                            </div>
                        </div>
                        <div class="rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>atlanta</h6>
                            </a>
                            <h5><span>from</span>$200</h5>
                        </div>
                        <div class="price">
                            <a href="#">
                                <h6>miami</h6>
                            </a>
                            <h5><span>from</span>$453</h5>
                        </div>
                        <div class="price mb-0">
                            <a href="#">
                                <h6>ottawa</h6>
                            </a>
                            <h5><span>from</span>$342</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>