<section class="pt-0 detail-section zig-zag-effect">
    <div class="cloud section-b-space section-t-space">
        <img src="../assets/images/flights/cloud.png" alt="" class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="detail-box">
                        <div class="upper-part">
                            <h6>rica airlines</h6>
                            <h2>student offer</h2>
                            <h5>enjoy extra baggage allowance</h5>
                        </div>
                        <a href="#" class="btn btn-rounded btn-sm color1">read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="detail-box">
                        <div class="upper-part">
                            <h6>airlines</h6>
                            <h2>10% bonus </h2>
                            <h5>enjoy extra baggage allowance</h5>
                        </div>
                        <a href="#" class="btn btn-rounded btn-sm color1">read more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="detail-box">
                        <div class="upper-part">
                            <h6>rica airlines</h6>
                            <h2>New offer</h2>
                            <h5>enjoy extra baggage allowance</h5>
                        </div>
                        <a href="#" class="btn btn-rounded btn-sm color1">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>