<section class="blog_section section-b-space ratio_55">
    <div class="container">
        <div class="title-2">
            <h2>our news... <span>and blog</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/blog/1.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/blog/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/blog/3.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/blog/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="blog-detail-left-sidebar.html">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>