<section class="blog_section destination-section section-b-space ratio_55">
    <div class="container">
        <div class="title-2">
            <h2>featured... <span>destination</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/destination/1.jpg"
                                class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>france country</h5>
                            <h2>paris</h2>
                            <h6>Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.</h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $851*</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/destination/2.jpg"
                                class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>united kingdom</h5>
                            <h2>london</h2>
                            <h6>Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.</h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $369*</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/destination/3.jpg"
                                class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>switzerland</h5>
                            <h2>zurich</h2>
                            <h6>Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.</h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $256*</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="../assets/images/flights/destination/2.jpg"
                                class="img-fluid blur-up lazyload bg-img" alt="">
                        </div>
                    </div>
                    <div class="destination-details">
                        <div>
                            <h5>united kingdom</h5>
                            <h2>london</h2>
                            <h6>Book Economy Class Return Until 29 Apr 19 Lorem Ipsum is simply dummy text of the
                                printing industry.</h6>
                            <a href="flight-left-sidebar.html" class="btn btn-rounded color2">from $581*</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>