<section class="routes-section ratio_landscape section-b-space">
    <div class="container">
        <div class="title-2">
            <h2>top flight routes... <span>within usa</span></h2>
            <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum has been standard.......</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="../assets/images/flights/destination/4.jpg" alt=""
                            class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>-30%</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>london to moscow</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="../assets/images/flights/destination/5.jpg" alt=""
                            class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>limited time</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>milan to stockholm</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="../assets/images/flights/destination/6.jpg" alt=""
                            class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>-30%</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>marid to prague</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="routes-box">
                    <a href="#" class="routes-img">
                        <img src="../assets/images/flights/destination/7.jpg" alt=""
                            class="img-fluid blur-up lazyload bg-img">
                        <div class="price-round">
                            <div>
                                <h6><del>$500</del></h6>
                                <h3>$420</h3>
                            </div>
                        </div>
                        <div class="discount">
                            <h6>sunday</h6>
                        </div>
                    </a>
                    <div class="routes-content">
                        <div class="top-bar">
                            <a href="#">
                                <h5>humburg to paris</h5>
                            </a>
                            <h6>arrival : 20:30</h6>
                        </div>
                        <div class="bottom-bar">
                            <h6>departure : 14:20</h6>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>