<section class="breadcrumb-section small-sec flight-sec pt-0">
    <img src="../assets/images/flights/flight-breadcrumb2.jpg" class="bg-img img-fluid blur-up lazyload" alt="">
    <div class="content-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="booknow">BookNow</a></li>
                            <li class="breadcrumb-item"><a href="booknow/booking">Booking</a></li>
                            <li class="breadcrumb-item active">payment</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>